.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #000;
}

.container button{
    padding: 10px 20px;
    background-color: #000;
    border: 1px solid #fff;
}
button:hover{
    transform: scale(1.1);
    transition-duration:0.8s ;
}
a{
    color: #fff;
}